@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

:root{
    --font: 'Open Sans', 'sans-serif';
}


.outer-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5px;
    place-items: center;
    margin: 8%;
}


.container1{
    border-radius: 30px;
    background:#2980b9;
    box-shadow:  29px 29px 58px #d9d9d9,
                -29px -29px 58px #ffffff;
    padding: 20%;
    width:45%;
    
}

.container p>a{
    text-decoration: none;
    font-size: 23px;
    color: #313131;
    font-family: var(--font);
}

.container p{
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: var(--font);
 }



.container2{
    border-radius: 30px;
    background:#16a085;
    box-shadow:  29px 29px 58px #d9d9d9,
                -29px -29px 58px #ffffff;
    padding: 20%;
    width:45%;
    
}



.container3{
    border-radius: 30px;
    background:#27ae60;
    box-shadow:  29px 29px 58px #d9d9d9,
                -29px -29px 58px #ffffff;
    padding: 20%;
    width:45%;
    
}

@media only screen and (min-width:300px) and (max-width:600px){
   .outer-container{
       grid-template-columns: auto;
   }
   .container1, .container2, .container3{
       margin-bottom: 15%;
   }
}


